<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nurphy.warehouse.mapper.StoreMapper">
  <resultMap id="BaseResultMap" type="com.nurphy.warehouse.pojo.Store">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="charge_person" jdbcType="VARCHAR" property="chargePerson" />
    <result column="charge_phone" jdbcType="VARCHAR" property="chargePhone" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="now_num" jdbcType="INTEGER" property="nowNum" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, address, charge_person, charge_phone, `status`, num, now_num, created_date, 
    updated_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from store
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from store
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.nurphy.warehouse.pojo.Store" useGeneratedKeys="true">
    insert into store (`name`, address, charge_person, 
      charge_phone, `status`, num, 
      now_num, created_date, updated_date
      )
    values (#{name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{chargePerson,jdbcType=VARCHAR}, 
      #{chargePhone,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{num,jdbcType=INTEGER}, 
      #{nowNum,jdbcType=INTEGER}, #{createdDate,jdbcType=TIMESTAMP}, #{updatedDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.nurphy.warehouse.pojo.Store" useGeneratedKeys="true">
    insert into store
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="chargePerson != null">
        charge_person,
      </if>
      <if test="chargePhone != null">
        charge_phone,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="nowNum != null">
        now_num,
      </if>
      <if test="createdDate != null">
        created_date,
      </if>
      <if test="updatedDate != null">
        updated_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="chargePerson != null">
        #{chargePerson,jdbcType=VARCHAR},
      </if>
      <if test="chargePhone != null">
        #{chargePhone,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="nowNum != null">
        #{nowNum,jdbcType=INTEGER},
      </if>
      <if test="createdDate != null">
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null">
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nurphy.warehouse.pojo.Store">
    update store
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="chargePerson != null">
        charge_person = #{chargePerson,jdbcType=VARCHAR},
      </if>
      <if test="chargePhone != null">
        charge_phone = #{chargePhone,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="nowNum != null">
        now_num = #{nowNum,jdbcType=INTEGER},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null">
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nurphy.warehouse.pojo.Store">
    update store
    set `name` = #{name,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      charge_person = #{chargePerson,jdbcType=VARCHAR},
      charge_phone = #{chargePhone,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=TINYINT},
      num = #{num,jdbcType=INTEGER},
      now_num = #{nowNum,jdbcType=INTEGER},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>